<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}

        <div class="sideMenu">
          <h4>Useful Links</h4>

          <a href="https://www.np.emb-japan.go.jp/itprtop_en/index.html">Japan Embassy in Nepal</a> <br>
          <a href="http://www.jaltan.org.np">JALTAN organization</a>  <br> 
          <a href="https://www.jlpt.jp/e/">Information on JLPT </a>  <br>
          </p>
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
